.download-container {
    > .current-version {
        position: absolute;
        margin-top: 10px;
    }
}

.idx-download-button {
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dev-note {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    color: #856404;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 15px;

    i {
        margin-right: 10px;
        font-size: 20px;
    }

    strong {
        font-weight: bold;
    }

    p {
        margin: 0px !important;
    }

    .update-note {
        margin-top:10px;
        margin-left: 10px;
        font-size: 14px;
        background-color: #a1dc75;
        padding: 5px;
        border-radius: 5px;
        color: #000;
        font-weight: bold;

        p {
            margin: 0;
        }
    }
}