@use '../../styles/variables' as *;

.btn {
    border-radius: $border-radius-sm;
    outline: none;
    border: none;
    font-size: $font-size-md;
    cursor: pointer;
    background: $bg-dark !important;
    margin-bottom: $margin-sm;
    color: $primary-color !important;

    i {
        color: $primary-color !important;
    }
    
    &:hover {
        transition: all $transition-ease-out;
        background: $primary-color !important;
        color: $bg-dark !important;
        
        * {
            transition: all $transition-ease-out;
            color: $bg-dark !important;
        }
    }
}