.btn {
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: white !important;
    margin-bottom: 1rem;
    
    * {
        color: #3d414f !important;
    }
    
    &:hover {
        transition: all 0.3s ease-out;
        background: #3d414f !important;
        color: white !important;
        
        * {
            transition: all 0.3s ease-out;
            color: #fff !important;
        }
    }
}