.btn {
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: white !important;
    margin-bottom: 1rem;
}

.btn * {
    color: #3d414f !important;
}

.btn:hover {
    transition: all 0.3s ease-out;
    background: #3d414f !important;
    color: white !important;
}

.btn:hover * {
    transition: all 0.3s ease-out;
    color: #fff !important;
}