.btn {
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: #282828 !important;
    margin-bottom: 1rem;
    color: #ffc832 !important;

    i {
        color: #ffc832 !important;
    }
    
    &:hover {
        transition: all 0.3s ease-out;
        background: #ffc832 !important;
        color: #282828 !important;
        
        * {
            transition: all 0.3s ease-out;
            color: #282828 !important;
        }
    }
}