@use '../../styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem;
    min-height: 520px;

    svg {
        width: 100px;
        height: 100px;
    }

    h2 {
        color: var(--primary-color);
        margin-bottom: $margin-md;
        font-size: $font-size-4xl;
    }

    p {
        margin-bottom: $margin-md;
        line-height: 1.6;
    }

    button {
        padding: $spacing-md $spacing-xl;
        background-color: $bg-dark;
        color: #ffd700;
        border: none;
        border-radius: $border-radius-md;
        cursor: pointer;
        font-size: $font-size-sm;
        transition: background-color $transition-fast;
  
        &:hover {
          background-color: #ffd700;
          color: #1e1e1e;
        }
      }
}