// Define variables for common values
$margin-top-large: 5rem;
$font-size-xxlarge: 10rem;
$font-size-xlarge: 4rem;

.error {
    &-title {
        margin-top: $margin-top-large;
        font-size: $font-size-xxlarge;
    }
    
    &-reason {
        font-size: $font-size-xlarge;
    }
}