.container-doc {
    width: 60vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.mt-em {
    margin-top: 10em
}

.fa-spin-pulse {
    -webkit-animation-name: fa-spin;
    animation-name: fa-spin;
    -webkit-animation-duration: var(--fa-animation-duration,2s);
    animation-duration: var(--fa-animation-duration,2s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,linear);
    animation-timing-function: var(--fa-animation-timing,linear);
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.documentation-page {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    justify-content: flex-start;
    flex-direction: row;
}

.documentation-page-sidebar {
    width: 250px;
    left: 0;
    background-color: #282828;
    overflow: auto;
    padding: 20px;
    margin: 0;
    position: relative;
    height: 100%;
}

.documentation-page-sidebar li {
    list-style: "â "
}

.documentation-page-sidebar a {
    display: block;
    color: white;
    text-decoration: none;
}

.documentation-page-sidebar a:hover {
    color: #61667b;
}

.document-page-sidebar-item {
    margin: 0;
}

.documentation-page-container {
    width: 100%;
    text-align: center;
}

.documentation-page-title {
    text-align: center;
}

.documentation-page-title {
    margin-top: 20px;
}

.documentation-page-container-document {
    padding: 16px;
    max-width: 70vw;
}

.documentation-page-container-temp {
    padding: 16px;
    max-width: 70vw;
    text-align: center;
}

.doc-temp  h3 {
    font-size: 62px;
}

.doc-temp p {
    font-size: 24px;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-container a {
    text-decoration: none;
    color: #fff;
}


.category-container > a *:hover{
    color: #000000;
}


.category-container li {
    list-style-type: none;
}

.category-container h3 {
    margin-top: 1em;
}