// Define variables for common values
$color-white: #fff;
$color-black: #000;
$color-background: #23272e;
$color-keyword: #c7c066;
$color-title: #8589f9;
$color-attr: #c69a54;
$color-string: #89ca78;
$color-built-in: #e36209;
$color-comment: #6a737d;
$color-name: #22863a;
$color-subst: #24292e;
$color-section: #005cc5;
$color-bullet: #735c0f;
$color-emphasis: #24292e;
$color-strong: #24292e;
$color-addition: #22863a;
$color-deletion: #b31d28;
$background-addition: #f0fff4;
$background-deletion: #ffeef0;

// pre {
//   margin: 0;
//   padding: 0;
//   background: $color-background;
//   color: $color-white;
//   font-size: 1rem;
//   line-height: 1.5;
//   font-family: 'Fira Code', monospace;
//   word-wrap: normal;
// }


// pre code.hljs {
//   display: block;
//   overflow-x: auto;
//   padding: 1em;
//   border-radius: 1rem;
//   >span {
//     word-wrap: normal;
//   }
// }
pre {
  margin: 0;
  padding: 0;
  background: $color-background;
  color: $color-white;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Fira Code', monospace;
  word-wrap: normal;
  border-radius: 1rem;
  display: block;
  padding: 1em;
  overflow-x: auto;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: $color-white;
  background: $color-background;
  
  &-doctag,
  &-keyword,
  &-meta .hljs-keyword,
  &-template-tag,
  &-template-variable,
  &-type,
  &-variable.language_ {
    color: $color-keyword;
  }

  &-title,
  &-title.class_,
  &-title.class_.inherited__,
  &-title.function_ {
    color: $color-title;
  }

  &-attr,
  &-attribute,
  &-literal,
  &-meta,
  &-number,
  &-operator,
  &-selector-attr,
  &-selector-class,
  &-selector-id,
  &-variable {
    color: $color-attr;
  }

  &-meta .hljs-string,
  &-regexp,
  &-string {
    color: $color-string;
  }

  &-built_in,
  &-symbol {
    color: $color-built-in;
  }

  &-code,
  &-comment,
  &-formula {
    color: $color-comment;
  }

  &-name,
  &-quote,
  &-selector-pseudo,
  &-selector-tag {
    color: $color-name;
  }

  &-subst {
    color: $color-subst;
  }

  &-section {
    color: $color-section;
    font-weight: 700;
  }

  &-bullet {
    color: $color-bullet;
  }

  &-emphasis {
    color: $color-emphasis;
    font-style: italic;
  }

  &-strong {
    color: $color-strong;
    font-weight: 700;
  }

  &-addition {
    color: $color-addition;
    background-color: $background-addition;
  }

  &-deletion {
    color: $color-deletion;
    background-color: $background-deletion;
  }
}
