$primary-color: #282828;
$accent-color: #ffc832;

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-header {
    margin-bottom: 20px;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        color: #ffffff;
    }
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    background: rgba(40, 40, 40, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5em;
}

.profile-picture {
    margin-bottom: 20px;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.profile-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-bio {
        font-size: 1.2rem;
        color: #ffffff;
        margin-bottom: 20px;
        background-color: #28282814;
        border-radius: 10px;
        padding: 10px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 100%;
        max-width: 600px;
        min-width: 250px;
    }

    h2 {
        font-size: 2rem;
        color: #ffffff;
        margin-bottom: 0px;
        background-color: #28282814;
        border-radius: 10px 10px 0px 0px;
        padding-bottom: 10px;
        padding-top: 10px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 200px;
    }

    p {
        font-size: 1rem;
        color: #ffffff;
        margin: 5px 0;
    }
}

.edit-profile-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #282828;
    color: #ffc832;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        background-color: #ffc832;
        color: #282828;
        transition: background-color 0.3s, color 0.3s;
    }
}